#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

/ {
  chosen {
    zephyr,console = &cdc_acm_uart0;
    zephyr,shell-uart = &cdc_acm_uart0;
  };

  aliases {
    my-joystick = &joystick;
    stepper-driver = &tmc2209;
    stepper-ctrl = &step_dir_motion_control;
  };

  joystick: joystick {
    compatible = "joystick";
    io-channels = <&adc1 8 &adc1 9>;
    io-channel-names = "x", "y";
  };

  tmc2209: stepper-driver {
    compatible = "adi,tmc2209";
    en-gpios = <&gpioa 3 GPIO_ACTIVE_LOW>; // double check this
    //m0-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
    //m1-gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
    micro-step-res = <8>;
  };

  step_dir_motion_control: motion-controller {
    compatible = "zephyr,gpio-step-dir-stepper-ctrl";
    step-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
    dir-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
    counter = <&counter1>;
    invert-direction;
    stepper-driver = <&tmc2209>;
  };
};

&usart1 {
  status = "disabled";
};

&zephyr_udc0 {
  cdc_acm_uart0: cdc_acm_uart0 {
    compatible = "zephyr,cdc-acm-uart";
  };
};

&pinctrl {
  adc1_in8_pb0: adc1_in8_pb0 {
    pinmux = <STM32_PINMUX('B', 0, ANALOG)>;
  };

  adc1_in9_pb1: adc1_in9_pb1 {
    pinmux = <STM32_PINMUX('B', 1, ANALOG)>;
  };
};

#define JOYSTICK_ADC_COMMON \
    zephyr,gain = "ADC_GAIN_1"; \
    zephyr,reference = "ADC_REF_INTERNAL"; \
    zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>; \
    zephyr,resolution = <12>;

&adc1 {
  #address-cells = <1>;
  #size-cells = <0>;
  pinctrl-0 = <&adc1_in8_pb0>, < &adc1_in9_pb1 >;

  channel@8 {
    reg = <8>;
    JOYSTICK_ADC_COMMON
  };

  channel@9 {
    reg = <9>;
    JOYSTICK_ADC_COMMON
  };
};

&timers2 {
  status="okay";
  st,prescaler = <2>;

  interrupts = <28 0>;
  interrupt-names = "global";

  counter1: counter {
    status="okay";
  };
};
