#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

/ {
  chosen {
    zephyr,console = &cdc_acm_uart0;
    zephyr,shell-uart = &cdc_acm_uart0;
  };

  aliases {
    my-joystick = &joystick;

    steppers-uart = &usart1;

    stepper-driver-x = &tmc2209_x;
    stepper-ctrl-x = &step_control_x;

    stepper-driver-y = &tmc2209_y;
    stepper-ctrl-y = &step_control_y;
  };

  joystick: joystick {
    compatible = "joystick";
    io-channels = <&adc1 8 &adc1 9>;
    io-channel-names = "x", "y";
  };

  tmc2209_x: stepper-driver-x {
    compatible = "adi,tmc2209";
    en-gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
  };

  step_control_x: motion-controller-x {
    compatible = "zephyr,gpio-step-dir-stepper-ctrl";
    step-gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
    dir-gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
    counter = <&counter1>;
    stepper-driver = <&tmc2209_x>;
  };

  tmc2209_y: stepper-driver-y {
    compatible = "adi,tmc2209";
    en-gpios = <&gpiob 5 GPIO_ACTIVE_LOW>;
  };

  step_control_y: motion-controller-y {
    compatible = "zephyr,gpio-step-dir-stepper-ctrl";
    step-gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
    dir-gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
    counter = <&counter2>;
    stepper-driver = <&tmc2209_y>;
  };
};

&usart1 {
  status = "okay";
  parity = "none";
  stop-bits = "1";
  data-bits = <8>;
};

&zephyr_udc0 {
  cdc_acm_uart0: cdc_acm_uart0 {
    compatible = "zephyr,cdc-acm-uart";
  };
};

&pinctrl {
  adc1_in8_pb0: adc1_in8_pb0 {
    pinmux = <STM32_PINMUX('B', 0, ANALOG)>;
  };

  adc1_in9_pb1: adc1_in9_pb1 {
    pinmux = <STM32_PINMUX('B', 1, ANALOG)>;
  };
};

#define JOYSTICK_ADC_COMMON \
    zephyr,gain = "ADC_GAIN_1"; \
    zephyr,reference = "ADC_REF_INTERNAL"; \
    zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>; \
    zephyr,resolution = <12>;

&adc1 {
  #address-cells = <1>;
  #size-cells = <0>;
  pinctrl-0 = <&adc1_in8_pb0>, < &adc1_in9_pb1 >;

  channel@8 {
    reg = <8>;
    JOYSTICK_ADC_COMMON
  };

  channel@9 {
    reg = <9>;
    JOYSTICK_ADC_COMMON
  };
};

&timers2 {
  status="okay";
  counter1: counter {
    status="okay";
  };
};

&timers3 {
  status="okay";
  counter2: counter {
    status="okay";
  };
};
